<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>MAENDELEO COMMUNITY BANK</title>
        <link href="webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container text-center">
       <!--  wrapper -->
    <div id="wrapper">
        <!--  page-wrapper -->
        <div id="page-wrapper">
            <div class="row">
                <!-- Page Header -->
                <div class="col-lg-12">
                    <h1 class="page-header">MAENDELEO COMMUNITY BANK</h1>
                </div>
                <!--End Page Header -->
            </div>

            <div class="row">
                <!-- Welcome -->
                <div class="col-lg-12">
                    <div class="alert alert-info">
                             <div class="navbar-header">
                             <table width="20%"> 
                             <tr><td><a href="/">Home</a></td><td>|</td><td><a href="/newLoan">New Loan</a></td><td>|</td><td><a href="/loanlist">View Loans</a></td></tr>
                             </table > </div>
                    </div><p>Maendeleo Community Bank has been in business for the last 4 years. They have been growing steadily and among some of their main objectives this year is to implement a Financial
      Management Software that will be used for customer registration, loans and savings management.</p>
                </div>
                <!--end  Welcome -->
            </div>
        </div>
        <!-- end page-wrapper -->

    </div>
    <!-- end wrapper -->
</div>
</body>
</html>